@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Set a higher z-index for the header */
}

.name {
    font-size: 2.2vw; /* Use viewport width unit for responsive font size */
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a {
    font-size: 1.1vw; /* Use viewport width unit for responsive font size */
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2vw;
    transition: .3s;
    
}

nav a:hover,
nav a.active {
    color: #4070f4;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
    font-size: 5vw; /* Use viewport width unit for responsive font size */
    color: #fff;
    font-weight: 700;
}

section:nth-child(odd) {
    background: #323946;
}     

#weather-container{
    width: 400px;
    height: 500px;
    background-color: #808080; /* Gray background color */
    border: 2px solid #555; /* Darker blue border */
    border-radius: 30px; /* Rounded corners */
    margin: 20px; /* Margin to create space around the box */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translate(-90%, 10%);
    color: #fff; /* Text color */
    font-size: 40px;
    text-align: center;
    line-height: 1.5; 
}

.searchbox
{
    display: flex;
    margin: 20px 60px;
   gap: 20px;
    align-items: center;
}
.searchbox input
{
    border: none;
    outline: none;
    width: 250px !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;


}
.searchbox i 
{
    /* background-color: white; */
    padding: 8px 8px;
    font-size: 17px;
    border-radius: 20px;
}

.body
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.body img 
{
   width: 140px;
}

.body h2 
{
    font-size: 35px;
    color: white;
    font-weight: bold;

}

.body h3 
{
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.deatil
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 50px;
}


.col{
    display: flex;
    align-items: center;
    gap: 10px;
}

.col i 
{
    font-size: 25px;
    color: rgb(50, 45, 45);
    
}


.col h5 
{
    font-size: 18px;
    color: white;
   
}
.col p 
{
    font-size: 17px;
    color: white;
}


.deatil
{
    display: none;
}
.body
{
    display: none;
}

/* #error
{
    text-align: center;
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
    display: none;
} */

#about-container{
    position: relative;
}

#about-container h3{
    position: absolute;
    transform: translate( -75%, -130%);
    font-size: 1.2em;
    
}

#about-container h3:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2.5px #4070f4;
}

#about-container h3:nth-child(2){
    color: #4070f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%, 100%
    {
        clip-path: polygon(0% 49%, 9% 55%, 17% 59%, 25% 63%, 37% 65%, 50% 65%, 62% 62%, 74% 55%, 85% 48%, 94% 48%, 100% 54%, 100% 99%, 1% 98%);
    }

    50%
    {
        clip-path: polygon(0 69%, 10% 61%, 20% 56%, 30% 50%, 39% 44%, 50% 44%, 60% 47%, 68% 51%, 80% 59%, 90% 63%, 100% 68%, 100% 99%, 1% 98%);
    }
}

#content-container{
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    position: absolute;
    top: 60%;
    transform: translate(0, -50%); /* Center vertically */
    right: 0;
}

#content-container p{
    font-size: 18px; /* Font size */
    line-height: 1.5;
}

span {
    color: #4070f4;
}


#map-container {
    height: 100vh;
    width: 100%;
    margin-top: 80px; /* Adjust the margin-top to create space for the fixed header */
    z-index: 500; /* Set a lower z-index for the map container */
}

#database-panel {
    position: fixed;
    top: 110px; /* Adjust the top value to leave space for the header */
    right: 50px;
    bottom: 500px; /* Set bottom to 0 to stretch the panel to the bottom of the map section */
    width: 300px; /* Adjust the width as needed */
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 20px;
    z-index: 1000;
    transition: right 1s ease;; /* Add a smooth transition effect */
}

#database-panel.collapsed {
    right: -300px; /* Move the panel to the right when it is not collapsed */
}

#database-panel h2 {
    font-size: 1.2vw; /* Use viewport width unit for responsive font size */
    margin-bottom: 1vw;
}

#database-panel p {
    font-size: 1vw; /* Use viewport width unit for responsive font size */
    line-height: 1.5;
    color: #333;
}

#toggle-database-panel {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 2vw; /* Use viewport width unit for responsive font size */
    z-index: 1001;
}

.graph1-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translate(10%, 10%);
    width: 100%;
}
.chart1{
    width: 600px;
    height: 400px;
}

.graph2-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translate( -10%, 10%);
    width: 100%;
}
.chart2{
    width: 600px;
    height: 400px;
}
